@model Auto

@{ ViewBag.Title = "Auto Info"; }

<h2>Auto Info</h2>

<div class="row">Model: @Model.CarModel.LineName @Model.CarModel.ModelName @Model.CarModel.TrimCode</div>
<div class="row">Current status: @Model.Status</div>
<div class="row">Assembled on @Model.AssemblyDate</div>

<hr class="my-4"/>

<div class="row my-2">Total cost of Auto is @Model.Cost</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Detail Series</th>
        <th scope="col">Cost</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var detail in Model.Details)
    {
        <tr>
            <th scope="row">@detail.DetailSeries.Id</th>
            <td>@detail.DetailSeries.Code</td>
            <td>@detail.Cost</td>
        </tr>
    }
    </tbody>
</table>
