@model IEnumerable<Detail>

@{ ViewBag.Title = "Details"; }

<h2>Details</h2>

<div asp-validation-summary="All"></div>

@if (!Model.Any())
{
    <h2 class="text-center">There are no details</h2>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th scope="col">
                <a asp-action="Details" asp-controller="Store" asp-route-sort="@ViewBag.IdSort">ID</a>
            </th>
            <th scope="col">Series</th>
            <th scope="col">
                <a asp-action="Details" asp-controller="Store" asp-route-sort="@ViewBag.CostSort">Cost</a>
            </th>
            <th scope="col">Expected supply date</th>
            <th scope="col">Supplied on</th>
            <th scope="col">Used in Auto</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var detail in Model)
        {
            <tr>
                <th scope="row">@detail.Id</th>
                <td>@detail.DetailSeries.Code</td>
                <td>@detail.Cost</td>
                <td>@detail.Contract.SupplyDate</td>
                <td>@detail.Contract.LadingBillIssueDate</td>
                <td>
                    @if (detail.Auto is {})
                    {
                        var model = detail.Auto!.CarModel;
                        var modelName = $"{model.LineName} {model.ModelName} {model.TrimCode}";
                        <div>@modelName</div>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}